body {
    background: linear-gradient(-70deg, white 49%, rgba(0, 0, 0, 0) 30%);
}

body #t1 {
    font-weight: bold;
    margin-top: 1px;
    margin-left: 118px;
    font-size: 72px;
    background-image: url(Images/t3.gif);
    color: rgba(0, 0, 0, 0.534);
    -webkit-background-clip: text;
    word-spacing: 2px;
}

body #t2 {
    font-weight: bold;
    margin-top: -39px;
    margin-left: 120px;
    font-size: 80px;
    background-image: url(Images/t3.gif);
    color: rgba(0, 0, 0, 0.534);
    -webkit-background-clip: text;
    word-spacing: 2px;
}

body #info {
    margin-left: 50px;
    margin-top: -64px;
    width: 2000px;
}

body #image {
    margin-top: -580px;
    margin-left: 731px;
}

body #topnav {
    background-image: url(Images/s1.JPG);
    background-repeat: no-repeat;
}

body #background {
    margin-top: -10px;
    border: 1px solid black;
    padding: 20px;
}