 {% extends "base.html" %}{% load cart %} {% load static %} {% block menu %}
<div>
    <ul id="firstthree">
        <h4 id="a">
            <a class="text-dark" href="{% url 'index' %}" style="text-decoration: none;">HOME</a>
        </h4>
        <h4 id="b">
            <a class="text-dark" href="#" style="text-decoration: none;">PORTFOLIO</a>
        </h4>
        <h4 id="c">
            <a class="text-dark" href="#" style="text-decoration: none;">ABOUT US</a>
        </h4>
    </ul>
</div>
<div>
    <ul id="logo">
        <a href="#" style="text-decoration: none;"><img src="{%  static  'css/Images/logo.png'  %}" width="430" height="430"></a>
    </ul>
</div>
<div class="ml-1">
    <ul id="lastthree">
        <h4 id="d">
            <a class="text-dark" href="{% url 'cart' %}" style="text-decoration: none;">STORE</a>
        </h4>
        <h4 id="e">
            <a class="text-dark" href="#" style="text-decoration: none;">CONTACT</a>
        </h4>
        <h4 id="f">
            <a class="text-dark" href="#" style="text-decoration: none;">ACCOUNT</a>
        </h4>
    </ul>
</div>

<div id="img1">
    <img src="{%  static  'css/Images/c3.png'  %}" width="430px" height="430px">
</div>
<div id="img2">
    <img src="{%  static  'css/Images/c1.png'  %}" width="600px" height="350px">
</div>
<div id="text">
    <h1 class="font-weight-bold">ENJOY ONLINE</h1>
    <h1 id="s" class="font-weight-bold">SHOPPING</h1>
    <P>Online shopping like never before! Get the latest trends ruling the charts<br>in India. With the most fashionable range of T-shirt,Pillow,Mugs, and more<br> for Men Women and all . Place Your Order Today! Add Some Affordable,<br> Stylish Accessories
        to Your Fashion Collection. Shop with Us Today. </P>
</div>
<a class="ca3-scroll-down-link ca3-scroll-down-arrow"></a>
<div id="bottom"></div>
{% endblock %}

<! -- Below is Shoping cart  -->

{% block content %}
<div class="container-fluid mt-5" id="sidenav">
    <div class="row">
        <!--To Show the Filter or Category Option -->
        <div class="col-lg-2 mx-auto">
            <div class="list-group">
                <a href="/cart" class="list-group-item list-group-action">All Products</a> {% for category in categories%}
                <a href="?category={{category.id}}" class="list-group-item list-group-action">{{category.name}}</a> {% endfor%}
            </div>

        </div>

        <!-- To Show the product Products  -->
        <div id="products" class="col-lg-10 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-auto mb-4" style="width: 18rem;">
                    <img src="{{product.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">{{product.name}}</p>
                        <p class="card-text"><b>{{product.price}}₹</b></p>
                    </div>
                    <div class="card-footer p-0  no-gutters">
                        {% if product|is_in_cart:request.session.cart %}
                        <div class="row no-gutters">
                            <input type="submit" value=" - " class="col-2 btn btn-block btn-secondary">
                            <div class="text-center col">{{product|cart_quantity:request.session.cart}}in cart</div>
                            <input type="submit" value=" + " class="col-2 btn btn-block btn-secondary">
                        </div>
                        {% else %}
                        <form action="/cart" method="POST" class="btn-block">
                            {% csrf_token %}
                            <input hidden type="text" name="product" value="{{product.id}}">
                            <input type="submit" class="float-right btn btn-light border form-control" value="Add To Cart">
                        </form>
                        {% endif %}

                    </div>

                </div>
                {% endfor %}
                </>
            </div>
        </div>
    </div>
    <div id="bs">

    </div>
    {% endblock %}